<div class="ui top fixed menu">
  <div class="container">
    <div class="item">
      <%= image_tag("logo", size: "50x42") %>
    </div>
    <a class="item">
      <i class="users icon"></i>
      Clientes
    </a>
    <a class="item">
      <i class="calendar icon"></i>
      Agenda
    </a>
  </div>
</div>